@* @{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Edit</h2>

<h4>Edit this tag: @Html.DisplayFor(model => model.TagDescription)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Recipes)
  @Html.HiddenFor(model => model.TagId)
  <div class="form-group">
    @Html.LabelFor(model => model.TagDescription)
    @Html.EditorFor(model => model.TagDescription)
  </div>
   
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add an Recipe", "AddRecipe", new {id = Model.TagId})</p>
<p>@Html.ActionLink("Back to tag list", "Index")</p>
<h3>@Html.ActionLink("Home", "Index", "Home")</h3> *@